RewriteEngine On
RewriteBase /etraining/
RewriteCond %{SERVER_PORT} 81
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?arg=$1